@using Microsoft.AspNet.Identity
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title> میڈیکل انسایکلوپیڈیا </title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="keywords" content="holidaymaker Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/web/css/font-awesome.css" rel="stylesheet">
    <link href="/web/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" /><!-- //pop-ups-->
    <!-- team-->
    <link href="/web/css/ihover.css" rel="stylesheet" type="text/css" media="all" /><!-- //team -->
    <link rel="stylesheet" href="/web/css/swipebox.css">
    <link href="/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- fonts -->
    <style>
        .c2 a {
            color: red;
        }
    </style>
    <!-- //fonts -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Organization Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link href="~/web/css1/style1.css" rel="stylesheet" />
    <link href="~/web/css1/font-awesome1.css" rel="stylesheet" />
    <link href="~/web/css1/bootstrap1.css" rel="stylesheet" />

    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css">
    <!--

    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
     -->



</head>
<body>

    <div class="header">


        <!-- nav -->
        <nav class="pt-4 d-lg-flex">
            <label for="drop" class="toggle">مینو</label>
            <input type="checkbox" id="drop" />
            <ul class="menu mt-2 ml-auto">

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <li>
                            @Html.ActionLink(User.Identity.GetUserName() + "!" + "ہیلو ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">لاگ آف</a></li>

                    }
                }
                else
                {
                    <li>
                        <!-- First Tier Drop Down -->
                        <label for="drop-2" class="toggle">رجسٹر <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                        <a href="#">رجسٹر<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2" />
                        <ul class="inner-ul">

                            <li>
                                @Html.ActionLink("صارف", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:#fff;" })
                        </li>
                        <li>@Html.ActionLink("ڈاکٹر", "DoctorRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:#fff;" })</li>
                        <li>@Html.ActionLink("ایڈمن", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:#fff;" })</li>

                    </ul>
                </li>
                <li>
                    @Html.ActionLink("لاگ ان ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </li>

            }

                <li><a href="@Url.Action("Index","Category")">بیماری</a></li>
                <li><a href="@Url.Action("Index","Disease")">ایڈ کریں</a></li>
                <li><a href="@Url.Action("Index","Home")">تلاش کریں</a></li>
                <li class="active"><a href="@Url.Action("Index","Home")">ہوم</a></li>

            </ul>
        </nav>
    </div>


    @RenderBody()

    <div class="footer">
        <div class="container">
            <h3><a href="index.html">میڈیکل انسایکلو پیڈیا</a></h3>
            <p>&copy; @DateTime.Now.Year   جانیے ہر بیماری کے بارے میں</p>
            <div class="social-icons animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
                <ul class="top-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <script type="text/javascript" src="/web/js/jquery-2.1.4.min.js"></script>
    <script>
        (function ($) {
            $(".menu-icon").on("click", function () {
                $(this).toggleClass("open");
                $(".container").toggleClass("nav-open");
                $("nav ul li").toggleClass("animate");
            });

        })(jQuery);
    </script>
    <!-- swipe box js -->
    <script src="/web/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $(".swipebox").swipebox();
        });
    </script>
    <!-- //swipe box js -->
    <!-- jarallax-js -->
    <script src="/web/js/jarallax.js"></script>
    <script src="/web/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>
    <!-- //jarallax-js -->
    <!--pop-up-box -->
    <script src="/web/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- //pop-up-box -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="/web/js/move-top.js"></script>
    <script type="text/javascript" src="/web/js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smooth-scrolling -->

</body>
</html>
<!--
        <li class="nav-item dropdown">
        <a class="navbar-link dropdown-toggle" href="index.html" id="dropdown04" aria-haspopup="true" aria-expanded="false" >Register</a>
        <a href="@Url.Action("Register","Register")" class="dropdown-item"><span>User</span></a>-->
