@model IEnumerable<DB55.Models.CategoryViewModel>
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <link rel="stylesheet" href="/University/css/bootstrap.css">
    <link rel="stylesheet" href="/University/css/animate.css">
    <link rel="stylesheet" href="/University/css/owl.carousel.min.css">

    <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/University/css/magnific-popup.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="/University/css/style.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Webhosting Pricing Tables Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <!-- Default-JavaScript-File -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script src="~/css2/js/jquery-2.1.4.min.js"></script>
    <!-- //Default-JavaScript-File -->
    <!-- default-css-files -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="~/css2/css/fontawesome-all.min.css" rel="stylesheet" />
    <!-- default-css-files -->

    <link href="css/popup-box.css" rel="stylesheet" type="text/css" media="all" /><!-- popup css -->
    <link href="~/css2/css/popup-box.css" rel="stylesheet" />
    <!-- style.css-file -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css2/css/style.css" rel="stylesheet" />
    <!-- //style.css-file -->
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">


</head>
<body style="background-color:midnightblue">


    <!-- END header -->
    <!-- END section -->

    <div class="container site-section element-animate">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center section-heading">
                <h2 class="text-primary heading">علامات</h2>
                <p> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="block-2">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../University/images/heart.jpg);">
                            <div class="box">
                                <h2>اھم اعضاء</h2>
                                <p>انسانی دل</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;انسانی جسم میں دل کا مقام بادشاہ جیسا ہے ، سارے اعضاء کی قوتیں دل کی قوت کے تابع ہیں جب دل کمزور ہو جاتا ہے تو بقیہ سارے اعضاء میں کمزوری آ جاتی ہے اور قوت باہ جو ان ساری قوتوں پر موقوف ہے وہ بھی کمزور ہو جاتی ہے .&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="~/University/images/heart.jpg" alt="">
                                </div>
                                <div class="name align-self-center">Job Smith <span class="position">Laravel Expert</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-2 ">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../University/images/brain-hd.jpg);">
                            <div class="box">
                                <h2>اھم اعضاء</h2>
                                <p>دماغ</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;دماغ دراصل مرکزی عصبی نظام کا ایک ایسا حصہ ہوتا ہے جس میں عصبی نظام کے تمام اعلیٰ مراکز پائے جاتے ہیں۔ اکثر جانداروں میں دماغ سر میں موجود ایک ہڈی کے صندوق میں محفوظ ہوتا ہے جسے کاسہ سر یا کھوپڑی کہتے ہیں اور چار بنیادی حسیں (بصارت، سماعت، ذائقہ اور سونگھنا) اس کے بالکل قرب و جوار میں ملتی ہیں۔&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="~/University/images/brain-hd.jpg" alt="">
                                </div>
                                <div class="name align-self-center"> <span class="position">دماغ</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="block-2">
                    <div class="flipper">
                        <div class="front" style="background-image: url(../../University/images/Rbc.jpg);">
                            <div class="box">
                                <h2>اھم اعضاء</h2>
                                <p>ریڈ بلڈ سیلذ</p>
                            </div>
                        </div>
                        <div class="back">
                            <!-- back content -->
                            <blockquote>
                                <p>&ldquo;انسانی جسم کے خون میں پایے جانے والے ریڈ بلڈ سیلذ دکھنے میں گول ھوتے ہیں۔ .&rdquo;</p>
                            </blockquote>
                            <div class="author d-flex">
                                <div class="image mr-3 align-self-center">
                                    <img src="~/University/images/Rbc.jpg" alt="">
                                </div>
                                <div class="name align-self-center"> <span class="position">ریڈ بلڈ سیلذ</span></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .flip-container -->
            </div>
        </div>
    </div>

    <div class="plans-section">
        <div class="plans-main">
            <h1 class="w3l-inner-h-title">علاج کے لئے اعضاء کا انتخاب کریں </h1>
            <div class="price-grid">
                <div class="price-block agile">
                    <div class="price-gd-top pric-clr1">
                        <i class="fab fa-accusoft"></i>
                        <br />
                        <br />
                        @*<div>
                                @Html.DisplayNameFor(model => model.Name)
                            </div>*@
                        <div>


                            @foreach (var item in Model)
                            {
                                @Html.ActionLink("تبدیل کریں ", "Edit", new { id = item.Id })
                                @*@Html.ActionLink("ختم کریں", "Delete", new { id = item.Id })
                                    @Html.ActionLink("منتخب کریں", "SelectSymptoms", new { id = item.Id })*@
                                <div>

                                </div>
                                @*@Html.DisplayFor(modelItem => item.Name)*@
                                <br />
                            }
                        </div>

                    </div>
                    <div class="price-gd-bottom">

                        <div class="price-selet pric-sclr1">
                            @Html.ActionLink("Create New", "Create")
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-grid ">
                <div class="price-block price-block1 agile">
                    <div class="price-gd-top pric-clr2">
                        <i class="fab fa-accusoft"></i>
                        @*<div>
                                @Html.DisplayNameFor(model => model.Name)
                            </div>*@
                        <br />
                        <br />
                        <div>
                            @foreach (var item in Model)
                            {
                                @*@Html.ActionLink("تبدیل کریں ", "Edit", new { id = item.Id })*@
                                @Html.ActionLink("ختم کریں", "Delete", new { id = item.Id })
                                @*@Html.ActionLink("منتخب کریں", "SelectSymptoms", new { id = item.Id })*@
                                <div style="color:white">

                                </div>
                                @*@Html.DisplayFor(modelItem => item.Name)*@
                                <br />
                            }
                        </div>

                    </div>
                    <div class="price-gd-bottom">

                        <div class="price-selet pric-sclr2">
                            @Html.ActionLink("Create New", "Create")

                        </div>
                    </div>
                </div>
            </div>
            <div class="price-grid1 lost">
                <div class="price-block price-block2 agile">
                    <div class="price-gd-top pric-clr3">
                        <i class="fab fa-accusoft"></i>
                        <br />
                        <br />
                        @*<div>
                                @Html.DisplayNameFor(model => model.Name)
                            </div>*@
                        <div>


                            @foreach (var item in Model)
                            {
                                @*@Html.ActionLink("تبدیل کریں ", "Edit", new { id = item.Id })
                                    @Html.ActionLink("ختم کریں", "Delete", new { id = item.Id })*@
                                @Html.ActionLink("منتخب کریں", "SelectSymptoms", new { id = item.Id })
                                <div>

                                </div>
                                @*@Html.DisplayFor(modelItem => item.Name)*@
                                <br />
                            }
                        </div>

                    </div>
                    <div class="price-gd-bottom">

                        <div class="price-selet pric-sclr3">
                            @Html.ActionLink("Create New", "Create")
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-grid1 lost">
                <div class="price-block price-block2 agile">
                    <div class="price-gd-top pric-clr3">
                        <i class="fab fa-accusoft"></i>
                        <div style="color:white; font-style:inherit">
                            @Html.DisplayNameFor(model => model.Name)
                            <br />
                        </div>
                        <div style="color:white">


                            @foreach (var item in Model)
                            {
                                @*@Html.ActionLink("تبدیل کریں ", "Edit", new { id = item.Id })
                                    @Html.ActionLink("ختم کریں", "Delete", new { id = item.Id })*@
                                @*@Html.ActionLink("منتخب کریں", "SelectSymptoms", new { id = item.Id })*@
                                <div>

                                </div>
                                @Html.DisplayFor(modelItem => item.Name)
                                <br />
                                <br />

                            }
                        </div>

                    </div>
                    <div class="price-gd-bottom">

                        <div class="price-selet pric-sclr3">
                            @Html.ActionLink("Create New", "Create")
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- loader -->

    <script src="/University/js/jquery-3.2.1.min.js"></script>
    <script src="/University/js/jquery-migrate-3.0.0.js"></script>
    <script src="/University/js/popper.min.js"></script>
    <script src="/University/js/bootstrap.min.js"></script>
    <script src="/University/js/owl.carousel.min.js"></script>
    <script src="/University/js/jquery.waypoints.min.js"></script>
    <script src="/University/js/jquery.stellar.min.js"></script>
    <script src="/University/js/jquery.animateNumber.min.js"></script>

    <script src="/University/js/jquery.magnific-popup.min.js"></script>
    <script src="/University/js/main.js"></script>


    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 9000);
        }
    </script>



</body>
</html>
